.calculate {
  padding-block: 146px;
  background-color: var(--color-dark-alternate);
}

.calculate-inner {
  display: flex;
  align-items: center;
  column-gap: 36px;
}

.calculate-body {
  flex-grow: 1;
  max-width: 627px;
}

.calculate-title:not(:last-child) {
  margin-bottom: 16px;
}

.calculate-description {
  max-width: 385px;
}

.calculate-description:not(:last-child) {
  margin-bottom: 30px;
}

.calculate-form-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 30px;
}

.calculate-form-body:not(:last-child) {
  margin-bottom: 26px;
}

.calculate-input.wide {
  grid-column: -1 / 1;
}

.calculate-table-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 610px;
}

.calculate-table-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  aspect-ratio: 1;
  background-color: var(--color-dark);
  border-radius: 50%;
}

.calculate-table {
  position: relative;
  border-collapse: collapse;
}

.calculate-table :is(td, th) {
  padding-right: 30px;
}

.calculate-table :is(td, th):not(:first-child) {
  padding-left: 30px;
}

.calculate-table :is(td, th):not(:last-child) {
  border-right: 1px solid var(--color-light-gray);
}

.calculate-table tbody td {
  border-top: 1px solid var(--color-light-gray);
}

.calculate-table tbody tr:last-child td:first-child {
  position: relative;
}

.calculate-table tbody tr:last-child td:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1px;
  background-color: var(--color-light-gray);
}

.calculate-table th {
  padding-block: 20px;
  text-align: left;
  text-transform: uppercase;
  color: var(--color-light);
}

.calculate-table td {
  padding-block: 14px;
}

.calculate-table tfoot {
  color: var(--color-light);
}

.calculate-table tfoot td {
  padding-top: 33px;
  padding-bottom: 0;
}

@media (max-width: 1919px) {
  .calculate {
    padding-block: 100px;
  }

  .calculate-inner {
    column-gap: 20px;
  }

  .calculate-form-body {
    grid-template-columns: 1fr;
  }

  .calculate-button {
    width: 100%;
  }

  .calculate-table :is(td, th) {
    padding-block: 10px;
  }

  .calculate-table tfoot td {
    padding-top: 10px;
  }
}

@media (max-width: 767px) {
  .calculate-inner {
    flex-direction: column;
    row-gap: 30px;
  }

  .calculate-table-wrapper::before {
    display: none;
  }

  .calculate {
    padding-block: 60px;
  }
}
