.family {
  background-color: var(--color-dark-alternate);
}

.family-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
  padding-top: 132px;
  padding-bottom: 62px;
  text-align: center;
}

.family-body {
  display: flex;
  justify-content: center;
  column-gap: 26px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

.family-image {
  scroll-snap-align: start;
}

@media (max-width: 767px) {
  .family-image {
    height: 180px;
  }

  .family-header {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .family-body {
    column-gap: 12px;
  }
}
