.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding-inline: 32px;
}

.header-logo {
  flex-shrink: 0;
}

.header-menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

.header-menu-link {
  display: inline-flex;
  align-items: center;
  column-gap: 7px;
  height: 90px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.header-menu-link.is-current::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 50%;
}

.header-actions {
  display: flex;
  column-gap: 40px;
}

.header-burger-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  width: 40px;
  height: 40px;
  padding-left: 8px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
}

.header-burger-button:hover {
  color: var(--color-light-gray);
  border-color: currentColor;
}

.header-burger-button-line {
  width: 6px;
  height: 1px;
  background-color: currentColor;
  box-shadow: 16px 0 0 currentColor;
}

@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 20px;
    padding-inline: 15px;
  }

  .header-menu {
    order: 1;
    flex-basis: 100%;
  }

  .header-menu-link {
    height: 50px;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 10px;
  }

  .header-menu-list {
    column-gap: 24px;
  }

  .header-menu-link {
    height: 32px;
  }

  .header-actions {
    column-gap: 15px;
  }
}
