.join-us-video-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 30px;
  background: url("../../assets/images/join-us/join-us-bg.jpg") center/cover no-repeat var(--color-dark-alternate);
}

.join-us-video {
  width: 100%;
  max-width: 960px;
  height: auto;
}

.join-us-video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  width: 200px;
  aspect-ratio: 1;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
}

.join-us-video-play-button::after {
  content: "";
  width: 26px;
  aspect-ratio: 1;
  background: url("../../assets/icons/arrows/arrow-top-right.svg") center/contain no-repeat;
  transition-duration: var(--transition-duration);
}

.join-us-video-play-button:hover {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
}

.join-us-video-play-button:hover::after {
  filter: invert(1);
}

.join-us-body {
  padding-bottom: 150px;
}

.join-us-title {
  position: relative;
  margin-top: -0.4em;
  font-size: clamp(64px, 9.37vw, 180px);
  line-height: 1;
  text-align: center;
}

.join-us-title::after {
  content: "";
  display: inline-block;
  height: 0.7em;
  aspect-ratio: 1;
  margin-left: 0.14em;
  background: url("../../assets/icons/arrows/bold-arrow-down-right.svg") center/contain no-repeat;
  scale: 1 -1;
}

.join-us-title:not(:last-child) {
  margin-bottom: 130px;
}

.join-us-form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
}

.join-us-form-header:not(:last-child) {
  margin-bottom: 52px;
}

.join-us-form-subtitle {
  font-size: 20px;
  line-height: 1.65;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
}

.join-us-form-body {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.join-us-form-input {
  max-width: 400px;
}

@media (max-width: 1024px) {
  .join-us-body {
    padding-bottom: 80px;
  }

  .join-us-title:not(:last-child) {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .join-us-video-play-button {
    width: 140px;
  }

  .join-us-title:not(:last-child) {
    margin-bottom: 40px;
  }

  .join-us-form-subtitle {
    font-size: 16px;
  }

  .join-us-form-body {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
