.location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.location-map-image {
  height: auto;
  margin-inline: auto;
}

.location-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 15px;
  text-align: center;
}

.location-title:not(:last-child) {
  margin-bottom: 14px;
}

.location-description {
  max-width: 490px;
}

.location-description:not(:last-child) {
  margin-bottom: 37px;
}

@media (max-width: 1919px) {
  .location {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  .location-body {
    padding-block: 40px;
  }

  .location-description:not(:last-child) {
    margin-bottom: 20px;
  }
}
