.button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
}

.button:hover {
  background-color: var(--color-light-gray);
}

@media (max-width: 767px) {
  .button {
    padding-inline: 18px;
  }
}
