.input {
  width: 100%;
  height: var(--input-height);
  padding-inline: 25px;
  color: var(--color-light);
  background-color: transparent;
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius);
}

.input::placeholder {
  color: var(--color-light-gray);
}

.input:hover {
  border-color: var(--color-light);
}

.input:focus {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
  outline: none;
}
