@font-face {
  font-family: "Heebo";
  src: url("../../assets/fonts/Heebo/Heebo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heebo";
  src: url("../../assets/fonts/Heebo/Heebo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yantramanav";
  src: url("../../assets/fonts/Yantramanav/Yantramanav-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
