.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.title-medium {
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 1.3;
  color: var(--color-light);
}

.title-big {
  font-size: clamp(24px, 3.12vw, 60px);
}

.backdrop-title {
  position: relative;
  z-index: 2;
}

.backdrop-title::before {
  content: "";
  display: block;
  position: absolute;
  right: calc(100% + 8px);
  width: 26px;
  aspect-ratio: 1;
  background: url("../../assets/icons/plus.svg") center/contain no-repeat;
}

.backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: -0.45em;
  left: -0.6em;
  font-family: var(--font-family-accent);
  font-size: 2.8em;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-dark-gray);
}

.backdrop-title.centered::after {
  top: -0.55em;
  left: 50%;
  translate: -50% 0;
}
