@import "./base/fonts.css";
@import "./base/normalize.css";
@import "./base/variables.css";
@import "./base/globals.css";
@import "./base/utils.css";

@import "./components/button.css";

@import "./layout/header.css";
@import "./layout/banner.css";
@import "./layout/motivation.css";
@import "./layout/training-types.css";
